---
- name: Create directory
  file:
    path: ~/backend
    state: directory
    
- name: "testing"
  shell: |
    ls -l
    pwd
    cd /home/ec2-user/
    mkdir testdir
    cd testdir
    touch testfile.txt
    chmod 777 testfile.txt

- name: "start k8 app"
  shell: |
    su ec2-user
    kubectl get pods
    kubectl port-forward pod/python-housek8s-67b6556c7c-8s746 --address 0.0.0.0 8000:80
    cd /home/ec2-user/environment/k8smicroservicesapp_aws
    ./make_prediction.sh >> /home/ec2-user/testdir/testfile.txt

#- name: "get results"
#  shell: |
#    cd /home/ec2-user/environment/k8smicroservicesapp_aws
#    ./make_prediction.sh >> /home/ec2-user/testdir/testfile.txt