---
- name: Create directory
  file:
    path: ~/backend
    state: directory
    
- name: "testing"
  shell: |
    ls -l
    pwd
    cd /home/ec2-user/
    mkdir testdir
    cd testdir
    touch testfile.txt
    chmod 777 testfile.txt

- name: "start k8 app"
  shell: |
    su ec2-user
    kubectl get svc
    kubectl get namespace
    kubectl get nodes
    /home/ec2-user/environment/k8smicroservicesapp_aws/make_prediction.prod.sh > /tmp/test3
    cat /tmp/test3
    
    

#- name: "get results"
#  shell: |
#    cd /home/ec2-user/environment/k8smicroservicesapp_aws
#    ./make_prediction.sh >> /home/ec2-user/testdir/testfile.txt