---
- name: Create directory
  file:
    path: ~/backend
    state: directory
    
- name: "testing"
  shell: |
    ls -l
    pwd
    mkdir testdir
    cd testdir
    touch testfile.txt
    chmod 777 testfile.txt
- name: "start k8 app"
  shell: |
    kubectl port-forward pod/python-housek8s-67b6556c7c-ghtwx --address 0.0.0.0 8000:80
- name: "get results"
  shell: |
    cd /home/ec2-user/environment/k8smicroservicesapp_aws
    ./make_prediction.sh >> ~/testdir/testfile.txt 